<% provide :meta_title, "FAQ categories" %>
<% provide :page_title, "FAQ categories" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to icon("plus", "New FAQ category"), new_admin_faq_category_path, class: "btn btn-success-o" %>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th width="70%">FAQ category</th>
          <th width="30%">Actions</th>
        </tr>
      </thead>
      <tbody class="sortable-table" data-update-url="<%= admin_sort_path(class_name: "faq_category") %>">
        <%= render @faq_categories %>
      </tbody>
    </table>
  </div>
</div>
