# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

.DS_Store
/public/uploads
/config/database.yml
/certs

# Ignore application configuration
/config/application.yml

/backups
.byebug_history

/.idea