<% provide :meta_title, 'Store' %>

<% provide :page_subtitle do %>
  <ul class="list-inline m-y-0">
    <li><strong>Browse by category:</strong></li>
    <% @store_categories.each do |category| %>
      <li><%= link_to category.name, store_category_path(category) %></li>
    <% end %>
  </ul>
<% end %>

<% if @products.any? %>
  <div class="row">
    <%= render @products %>
  </div>
<% else %>
  <div class="text-muted text-center">
    Our store is a bit empty right now, please check back later.
  </div>
<% end %>
