<div class="modal fade" id="edit_billing_address_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">
          Change billing address
        </h4>
      </div>

      <%= render 'form' %>
    </div>
  </div>
</div>