<%= content_tag_for :div, bro_sale_image, class: 'block-grid-image' do %>
  <div class="block-controls">
    <div class="btn-group">
      <%= link_to icon('arrows fa-fw'), '#/', class: 'btn btn-xs btn-default-o move' %>
      <%= link_to icon('times fa-fw'), admin_bro_sale_image_path(bro_sale_image.bro_sale, bro_sale_image), method: :delete, remote: true, class: 'btn btn-xs btn-danger' %>
    </div>
  </div>
  <%= image_tag bro_sale_image.file_url(:sm_square), class: 'img-rounded img-responsive' %>
<% end %>
