// Utilities
//==
.m-l-5 { margin-top: 5px; }
.m-t-5 { margin-top: 5px; }
.m-t-0 { margin-top: 0; }
.m-b-0 { margin-bottom: 0; }
.m-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.b-t-0 { border-top: none; }
.b-b-0 { border-bottom: none; }
.b-y-0 {
  border-top: none;
  border-bottom: none;
}

.spacer-b { margin-bottom: $spacer; }
.spacer-t { margin-top: $spacer; }
.spacer-y { 
  margin-top:    $spacer; 
  margin-bottom: $spacer; 
}
.spacer-p {
   margin-bottom: ($line-height-computed / 2);
}

.text-body { 
  color: $text-color; 
  &:hover { color: $text-color; }
}

.text-error { color: $brand-danger; }

.text-mono { font-family: $font-family-monospace; }
.text-system { font-family: $font-family-system; }

hr { border-width: 2px; }

.dracula-red    { color: $dracula-red;    fill: $dracula-red; }
.dracula-cyan   { color: $dracula-cyan;   fill: $dracula-cyan; }
.dracula-purple { color: $dracula-purple; fill: $dracula-purple; }
.dracula-orange { color: $dracula-orange; fill: $dracula-orange; }
.dracula-green  { color: $dracula-green;  fill: $dracula-green; }
.dracula-yellow { color: $dracula-yellow; fill: $dracula-yellow; }
.dracula-pink   { color: $dracula-pink;   fill: $dracula-pink; }

.btn-padding {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.text-lg {
  font-size: $font-size-h3;
}

.cursor-move {
  cursor: move;
}
.cursor-pointer {
  cursor: pointer;
}