<% provide :meta_title, 'Orders' %>
<% provide :page_title do %>
  <div class="cai-orders dracula-green"></div>
  Orders
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <% if @orders.any? %>
      <div class="list-group">
        <%= render @orders %>
      </div>
    <% else %>
      <div class="text-center">
        No orders found. Please check out our <%= link_to 'FAQ', help_faqs_path %> for more help.
      </div>
    <% end %>
  </div>
</div>