<% provide :meta_title, "About" %>

<% provide :hero do %>
  <div class="text-center">
    <h3 class="m-y-0">About</h3>
    Our adventures
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
          
        <h4 class="m-t-0">We strive for innovation.</h4>

        <p>[CTRL]ALT isn't a company. It's not a business. None of us are in this for the profit, fame, or acclaim. Instead, we are a close-knit group of community members brought together by a passion for improvement, refinement, and perfection. We ask ourselves, “Why settle?”  In any industry, boundaries should be pushed. Limits should be tested. The keyboard enthusiast community is no different. Rather than sitting back, we decided to take a stand and innovate. </p>

        <h4>Our aim and goals are two fold.</h4> 
        <p>One, we look to offer a fresh perspective on how group buys, keysets, and artisan cap buys are run. We believe that anything originating or associated with [CTRL]ALT should be designed, produced, shipped and presented at the highest quality possible. Our core commitment to the community is providing you with the best enthusiast experience that we can. Two, we are expanding the site to offer it as a platform for you, the community member, to use. We provide the infrastructure so that you have a framework within which to work.</p>

        <h4>A basic ideology at [CTRL]ALT is selflessness.</h4>
        <p>Profit should never be the reason a company exists. While it is no secret that any organization needs funding to function, the less emphasis we place on that the better off we are. Contrary to what some may think, we run largely off of donations only. By drawing the focus away from monetary gains and throwing our energy into value beyond dollar signs, we are able to cultivate and sustain a healthy environment that we hope spills over into the community. We want to empower the members of <%= link_to 'geekhack.org', 'http://geekhack.org', target: :_blank %> and encourage a true love for the hobby we all share.</p>

        <p>Beginning with simple notions of creativity and transparency, [CTRL]ALT has rapidly progressed past its humble roots. The best part is, we're not done. We are constantly growing, learning, and evolving. Too often, people make the mistake of growing complacent. Learning and innovation are tied to one another. Here, we never believe that what we did yesterday will suffice for tomorrow. The [CTRL]ALT team invites you to join us and help us. Let's innovate together.</p>

        <h4 class="text-center dracula-purple">
          <em>&mdash; The Krew</em>
        </h4>

      </div>
    </div>
  </div>
</div>
