<%= provide :meta_title, raw('Returns & Exchanges') %>
<%= provide :page_title, raw('Returns & Exchanges') %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Returns</h4>
        <p>
          Sorry, we do not accept returns, exchanges or refunds. All sales final. 
        </p>
        <h4>Shipping</h4>
        <p>
          If your order is returned to us and we're not at fault, you will be responsible for the shipping charge to ship it a second time. 
        </p>
        <h4>Exchanges &amp; Refunds</h4>
        <p>
          We only accept exchanges on apparel as long as the item is unwashed, unworn and in the exact condition you received it in. If desired size is not available, your order will refunded in the form of store credit. We do not honor refunds. All sales final.
        </p>
      </div>
    </div>
  </div>
</div>
