<%= provide :meta_title, 'Shipping Policy' %>
<%= provide :page_title, 'Shipping Policy' %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="m-t-0">Store purchases</h4>
        <p>
          Please allow up to 5 Days* (excluding weekends and holidays) for your order to be verified and fulfilled.
        </p>
        <h4 class="m-t-0">Group buys, Bro Caps, KWK</h4>
        <p>
          Each sale or group buy will have different shipping lead times. Please refer the original sale or group buy for more information for when your order will ship.
        </p>
        <h4>Shipping</h4>
        <p>
          All of our orders are shipped via United States Postal Service or Royal Mail. Please allow 5-10 days for delivery after your order has been received by USPS or Royal Mail. Shipping time varies by location and shipping service chosen by the customer.
        </p>
        <h4>Disclaimer</h4>
        <p>
          <%= ENV['app_name'] %> is not responsible for stolen, lost or damaged packages. Once your order has been picked up by USPS or Royal Mail and propagated into their system, we are no longer responsible for your shipment and any claims must be appropriately submitted to USPS or Royal Mail. The customer is responsible for shipping in the event the order is returned to us. All International customers are responsible for all duties and import fees. By placing an order with <%= ENV['app_name'] %> you are agreeing to these policies.
        </p>

      </div>
    </div>
  </div>
</div>
