<%= provide :meta_title, 'Donations' %>
<%= provide :page_title, 'Donations' %>

<div class="text-center">This page is still being written, please <%= link_to 'contact', contact_path %> us if you would like to make a donation.</div>
