# Add configuration values here, as shown below.
#
app_url: "XXXXXX-666"
secret_key_base: "XXXXXX-666"
easypost_key: "XXXXXX-666"
aws_key: "XXXXXX-666"
aws_secret: "XXXXXX-666"
aws_region: "XXXXXX-666"
aws_fog_directory: "XXXXXX-666"
aws_asset_host: "XXXXXX-666"
paypal_email: "XXXXXX-666"
paypal_url: "XXXXXX-666"
paypal_cert_id: "XXXXXX-666"
paypal_secret: "XXXXXX-666"
stripe_email: "XXXXXX-666"
stripe_secret_key: "XXXXXX-666"
stripe_publishable_key: "XXXXXX-666"
mailchimp_api_key: "XXXXXX-666"
mandrill_domain: "XXXXXX-666"
mandrill_username: "XXXXXX-666"
mandrill_password: "XXXXXX-666"
action_mailer_host: "XXXXXX-666"
action_mailer_asset_host: "XXXXXX-666"

production:
  paypal_email: "XXXXXX-666"
  paypal_url: "XXXXXX-666"
  paypal_cert_id: "XXXXXX-666"
  easypost_key: "XXXXXX-666"
  stripe_secret_key: "XXXXXX-666"
  stripe_publishable_key: "XXXXXX-666"
  action_mailer_host: "XXXXXX-666"
  action_mailer_asset_host: "XXXXXX-666"
