<% cache [product_image] do %>
  <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
    <p><%= link_to image_tag(product_image.file_url(:sm_square), class: 'img-responsive'), product_image.file_url, class: 'fancybox', rel: 'product_images' %></p>
  </div>
<% end %>