<tr>
  <td><%= variant.name %></td>
  <td><%= variant.sold %></td>
  <td class="price"><%= number_to_currency variant.unit_price %></td>
  <td class="price"><%= number_to_currency variant.sold_total_amount %></td>
</tr>