<%= simple_form_for [:admin, @bro_order, @note], url: admin_bro_order_notes_path(@bro_order), remote: true do |f| %>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      <h4 class="modal-title">
        New note for <%= short_guid @bro_order %>
      </h4>
    </div>

    <div class="modal-body">
      <%= f.input :content, placeholder: 'Don\'t forget the...', label: false, input_html: { rows: 6 } %>
    </div>

    <div class="modal-footer text-right">
      <%= f.submit 'Add Note', class: 'btn btn-primary-o' %>
    </div>
  </div>
<% end %>