<% provide :meta_title, "Slack" %>
<% provide :page_title, "Slack" %>
<% provide :page_description, "Join us in the Keyboard Community Slack channels" %>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">

        <h4>Code of conduct</h4>
        <p>
          We don't like to be the fun police, so anyone is welcome and generally anything goes except:
        </p>
        <ul class="m-b-0">
          <li>
            No harassment or bullying allowed. We have a zero tolerence policy for abusive behavior.
          </li>
          <li>
            We also have a zero tolerance policy regarding racist commentary.
          </li>
          <li>
            Be mindful and respectful in discussing religion and politics towards others who may not share your views.
          </li>
          <li>
            No alternate or throw away accounts.
          </li>
        </ul>
      </div>
      <div class="panel-body">
        <h4 class="m-t-0">What is Slack?</h4>
        <p>
          Slack is a platform for communication similar to IRC with a lot more features. We have a growing community of active users.
        </p>
        <h4>Popular channels</h4>
        <ul>
          <li>
            <strong>#support</strong>
            <br>
            Chat with the crew for realtime support.
          </li>
          <li>
            <strong>#trading</strong>
            <br>
            Trades and great finds.
          </li>
          <li>
            <strong>#artisan-corner</strong>
            <br>
            Artisan keycaps and sale discussion.
          </li>
        </ul>
        <strong>+40 more channels</strong>
        <br>
        We have many channels for open discussions.
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">

    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

