<div class="text-center">
  <%= evil_icon 'ei-envelope', size: :l, class: "text-success" %>
  <p>
    We have received your message, thanks for contacting us. 
    <br>
    We'll do our best to reply within 24 hours.
  </p>
</div>