<div class="modal fade" id="edit_shipping_address_<%= @shipping_address.id %>_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">
          Change Shipping Address
        </h4>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>