<title><%= content_for?(:meta_title) ? "#{yield(:meta_title)} - [CTRL]ALT" : "[CTRL]ALT - Custom keyboard and desk accessories" %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<%= csrf_meta_tags %>
<meta name="theme-color" content="#ffa2d7">
<link rel="icon" sizes="192x192" href="/browsericon.png">
<link rel="icon" type="image/png" href="/favicon.png">

