<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<%= link_to email_image_tag("logo_invoice.png", height: 45), root_url, style: "float:right;" %>
<pre>
<%= yield %>
</pre>
  </body>
</html>
