<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-size: 16px; line-height: 20px; padding: 0 30px 30px 30px; font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif">
    <%= link_to email_image_tag("logo_invoice.png", height: 45), root_url, style: "float:right;" %>
    <%= yield %>
  </body>
</html>
