<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-size: 16px; line-height: 20px; padding: 0 30px 30px 30px; font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif">
    <%= yield %>

    <p style="padding: 30px 0;">
      <small>
        <span style="color: #999">This email is a service from [CTRL]ALT</span>
        <br>
        <a href="https://ctrlalt.io/">https://ctrlalt.io</a>
      </small>
    </p>
  </body>
</html>
