<div class="swatches">
  <a href="#/" class="swatch" style="background: #e68082;" data-toggle="tooltip" data-original-title="Ridic Red (trans)"></a>
  <a href="#/" class="swatch" style="background: #a2cffd;" data-toggle="tooltip" data-original-title="Chill Blue (trans)"></a>
  <a href="#/" class="swatch" style="background: #9e9e9e;" data-toggle="tooltip" data-original-title="Grave Grey"></a>
  <a href="#/" class="swatch" style="background: #1084fd;" data-toggle="tooltip" data-original-title="Pale Blue"></a>
</div>